h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
}

.custom-file-upload {
    position: relative;
    display: inline-block;
}

.custom-file-upload::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccione su imagen con resulución 2700 x 4800';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1.375rem .75rem;
}

.custom-file-upload input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 80px;
    display: inline-block;
}

#src-file::before {
    content: 'Seleccionar';
}